body {
  text-align: center;
  font-family: "Libre Caslon Text", Times, Garamond, "Century Gothic",
    "Libre Baskerville", "Sawarabi Mincho", sans-serif;
}

.wrapper {
  width: 50%;
  margin: 80px auto;
}

ul {
  list-style: none;
}

.addTodo {
  width: 50%;
}
